<% if can?(:update, @order) %>
  <div id="add-line-item" data-hook>
      <div data-hook="add_product_name" class="field twelve columns alpha">
        <label for='add_variant_id'><%= Spree.t(:name_or_sku) %></label>
        <input type='hidden' id='add_variant_id' class='variant_autocomplete fullwidth'>
      </div>
    <div id="stock_details"></div>
  </div>
<% end %>
